{% extends 'assemble/base.html' %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.get_invalid_login_error }}
    </div>
{% endif %}


<div class="container">
    <h1>Login Page</h1>
    <h2>You need to login to access your information. </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    Don't have an account? <a href="{% url 'sign-up' %}"><strong> Create one here</strong></a>
</div>
{% endblock content %}