<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Assemble</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>
<body style="background-color:#EBECF0">


    {% include 'assemble/navbar_horizontal.html' %}
    {% include 'assemble/messages.html' %}
    <div class="container-fluid" style="overflow-x:auto">
        <div class="row">
            <div class="col">
                {% block content %}

                {% endblock content %}
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">

      // function to add or remove class from tags
      function changeTaskStatus(item,completed,uncompleted){
        var taskCompleted = $(item).hasClass(completed);
        if (taskCompleted){
            $(item).removeClass(completed)
            $(item).addClass(uncompleted)
        } else {
            $(item).removeClass(uncompleted)
            $(item).addClass(completed)
          }
        }


      $('.ajax-test').click(function(){
        var id;
        id = $(this).attr("id");
        $.ajax({
          type:"GET",
          // can abstract this into the id of the anchor tags and pull from there instead of hardcoding into django templates
          url:"{% url 'ajax-test' %}",
          data:{
            pk:id,
          },
          success:function(data){
            changeTaskStatus(`#task-${id}`,"list-group-item-success","list-group-item-danger");
            }
        })
      });
      /*
      $.ajax({
        type:'GET',
        url:'{% url "project-detail-ajax" project.name.lower %}',
        success:function(data){
          console.log(data)
        }
      })
      */



    </script>

</body>
</html>
