{% extends 'assemble/base.html' %}

{% block content %}
<h1 class="text-center">You're visiting the history of {{project.name}} <a href="{% url 'project-detail' project.slug %}" class="btn btn-sm btn-warning">Back to {{project.name}}</a></h1>

<div class="row justify-content-center mt-3">
    <div class="col-sm-6">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Project History</li>
            {% if render_list == 0 %}
                <li class="list-group-item list-group-item-danger text-dark d-flex justify-content-between align-items-center">
                    You haven't made any changes to your project yet! Try adding some components and breaking down your project
                    to get started.
                </li>
            {% else %}
                {% for record in render_list %}
                    <li class="list-group-item list-group-item-light text-dark d-flex justify-content-between align-items-center">
                        {{ record.list_string }}
                        <span class="badge badge-dark">
                            <strong>{{record.date_changed}}</strong>
                        </span>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

</div>
{% endblock content %}
