{% extends 'assemble/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">What is Assemble?</h1>
    <p class="lead text-center">Assemble is a project management tool that attempts to utilize top down design of applications.</p>
    <hr>
    <h1 class="text-center">What is top-down design?</h1>
    <p class="lead text-center">Top-down is breaking down a project into tinier projects, then taking those projects and breaking THEM into tinier projects. This process keeps repeating until you're left with very simple tasks that allow you to slowly complete your problem. This approach is what helps me build all of my applications and I think it's a very useful way delving into any kind of problem.</p>
</div>

{% endblock content %}