{% extends "assemble/base.html "%}


{% block content %}
<h2 class="my-2 text-center">User Profile</h2>
<div class="row justify-content-center">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <h3> Welcome to your profile {{user.username}}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"> Your Current Projects: </li>
            {% for project in current_projects %}
                <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item-light">{{project}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                Friends list
            </div>
            <ul class="list-group">
            {% if profile.friends.all.count != 0 %}
                {% for friend in profile.friends.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Friend 1</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Friend 2</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Friend 3</li>
                {% endfor %}
            {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Search for a friend in the top right!</li>
            {% endif%}
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                Friend Requests
            </div>
            <ul class="list-group">
            {% if friend_requests.count != 0 %}
                {% for friend in profile.friends.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Friend 1</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Friend 2</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Friend 3</li>
                {% endfor %}
            {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">No pending requests.</li>
            {% endif%}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}