{% extends "assemble/base.html "%}

{% block content %}
<h2 class="my-2 text-center">Welcome to your profile {{user.username}}</h2>
<div class="row justify-content-center">
    <div class="col-sm-3">
        
            <ul class="list-group">
                <li class="list-group-item list-group-item-success text-dark">
                    <i class="fa fa-book"></i> Your Current Projects:
                </li>
            {% for project in current_projects %}
                <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item-light">{{project}}</li>
            {% endfor %}
            </ul>
    
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <i class="fa fa-users"></i>  Friends list
            </div>
            <ul class="list-group">
            {% if profile.friends.all.count != 0 %}
                {% for friend in profile.friends.all %}
                    <li class="list-group-item border rounded-0 list-group-item"> <i class="fa fa-user"></i> {{friend}} </li>
                {% endfor %}
            {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">Search for a friend in the top right!</li>
            {% endif%}
            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header bg-warning">
                 <i class="fa fa-paper-plane"></i> Friend Requests
            </div>
            <ul class="list-group">
            {% if friend_requests.count != 0 %}
                {% for requests in friend_requests %}
                    {% if requests.to_user.username == user.username %}
                        <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">
                            {{ requests.from_user }} wants to be your friend!
                            <a class="btn btn-success btn-sm mr-1" href="{% url 'accept-friend-request' requests.from_user.username %}">Accept</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete-friend-request' requests.id %}">Decline</a>
                        </li>
                        
                    {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">
                            Request to {{requests.to_user}} pending.
                            <a class="btn btn-danger btn-sm" href="{% url 'delete-friend-request' requests.id %}">Remove</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border rounded-0 list-group-item">No pending requests.</li>
            {% endif%}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}