{% extends 'assemble/base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'project-list' %}">
            Your Projects
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'project-detail' component.project.slug %}"> {{ component.project.name }} </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'project-component-detail' component.slug %}"> {{ component.name }} </a>
    </li>
{% endblock breadcrumb %}

{% block content %}
<h1>Project Component <a class="btn btn-warning" href="{% url 'create-task' component.slug %}">Create tasks</a></h1>

{% for task in component_tasks %}
    <p>{{ task.name }}</p>
{% endfor %}

{% endblock content %}