{% extends 'assemble/base.html' %}


{% block content %}
<div class="container text-center">
    <h1>{{ component.name }} <a class="btn btn-warning" href="{% url 'create-task' component.slug %}">Create tasks</a></h1>

    <div class="row justify-content-center">
        {% for task in component_tasks %}
            <div class="col-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">{{ task.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}