{% extends 'assemble/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'project-list' %}">
            List of Projects
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'project-detail' project.slug %}"> {{ project.name }} </a>
    </li>

{% endblock breadcrumb %}


{% block content %}
<div class="text-center">
    <h1>{{ project.name }} <a class="btn btn-warning" href="{% url 'project-component-create' project.slug %}">Add Project Components</a></h1>
</div>
    <div class="row text-center flex-nowrap">
        {% for component in project_components %}
                <div class="col-md-3">
                    <div class="card">    
                        <div class="card-header mb-2">
                            {{ component.name }}
                        </div>
                        <div class="list-group">
                            <ul class="list-group px-3">
                                {% for task in component.component.all %}
                                    {% if task.completed == True %}
                                        <li class="list-group-item border mb-2 rounded-0 list-group-item-success">{{task.name}}</li>
                                    {% else %}
                                        <li class="list-group-item border mb-2 rounded-0 list-group-item-danger">{{task.name}}</li>
                                    {% endif %}
                                {% endfor %}
                                <a class="btn btn-success btn-sm text-white mb-2" data-toggle="modal" data-target="#component-{{component.slug}}" href="{% url 'create-task' component.slug %}"><i class="fa fa-plus"></i> Create Tasks</a>
                            </ul>
                        </div>
                    </div>
                </div>
                {% include 'assemble/modal_task_form.html' with component=component %}
        {% endfor %}
    </div>



{% endblock content %}
