{% load crispy_forms_tags %}


        <div class="modal fade" tabindex="-1" role="dialog" id="component-{{component.slug}}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Task form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <h3>Project Name: {{ component.project.name }}</h3>
                    <h4>Component name: {{ component.name }}</h4>
                    <form class="form-group" method="post" action="{% url 'create-task' component.slug %}">
                        {% csrf_token %}
                        <label for="Name">Task Name:</label>
                        <input id="Name" name="name" class="form-control" type="text" placeholder="Name of Task">
                        <small class="form-text text-muted">What task does this component need?</small> 
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" type="submit">Submit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                
                </div>
            </div>
        </div>